<div class="jumbotron mt-4">
    <h1 class="display-4">TRIVIAL GÉMINIS</h1>
    <hr class="my-4">
    <p class="lead">Bienvenidos al trivial de Géminis donde nos lo vamos a pasar teta contestando preguntas sobre la historia geminiana</p>
    <a href="#" class="btn btn-primary btn-lg mt-4">EMPEZAR</a>
</div>