<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4 fixed-bottom">

  <!-- Footer Elements -->
  <div class="container text-center">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">
        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="/img/playa1.jpg" class="img-fluid"alt="">
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">
        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="/img/playa2.jpg" class="img-fluid" alt="">
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">
        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="/img/playa3.jpg" class="img-fluid"alt="">
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-12 mb-4">
        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="/img/playa4.jpg" class="img-fluid"alt="">
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">
        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="/img/playa5.jpg" class="img-fluid"alt="">
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-2 col-md-6 mb-4">
        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="/img/playa6.jpg" class="img-fluid"alt="">
        </div>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>

</footer>
<!-- Footer -->
